#impactparent{
    background-color: #f8f9fb;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

#impactparent{
    font-family: 'Roboto', sans-serif;
}

#impactparent h1{
    padding-top: 100px;
}


#mpact{
    display: inline-block;
    width: 490px;
    background-color: bisque;
    text-align: left;
    margin-top: 70px;
    vertical-align: top;
}

#mpact p{
    line-height: 1.5;
}

.mpactimg{
    width: 438px;
    height: 320px;
    vertical-align: top;
    margin-top: 70px;
}


.quotedivider{
    font-size: 145px;
}

#videobox{
    background-color: #f8f9fb;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-right: auto; margin-left: auto;
    
}

.mpactvideo{
    border-top:12px solid black;
    border-bottom: 12px solid black;
    margin-left: 18px;
    margin-top: 14px;
}

#impactparent hr{
    color:black;
    
}

.art{
    width: 400px;
    height: 250px;
    border-radius: 35px;
}

.blowup{
    width: 400px;
    height: 230px;
    border-radius: 35px;
}

#divider{
    -webkit-columns: 100px 3;
    columns: 100px 3;
}

#divider img{
    padding-top: 15px; 
    padding-bottom: 20px;
}

#cases{
    -webkit-columns: 100px 2;
    columns: 100px 2;
}

#cases img{
    padding-top: 20px; 
}

.oad{
    width: 320px;
    height:100px;
    display: inline-block;
    background-color: bisque;
    margin-left: 6%;
    
}


#testdiv {
    background-color: #f8f9fb;
    padding-top: 20px;
}


#section-nav{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: 40%;

}

#section-nav a{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;

    font-size: 14pt;
    color: black;
}
    
#section-nav a:hover{
    color: #bfd4e9;
}


.section-link{
    color: #33679a;
    vertical-align: middle;
    text-decoration: none;
    
}

#lowercontactbar{
    background-color: #e8e8e8;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}


#lowercontactbar h5{
    font-weight: bold;
}

#midcontact{
    display: inline-block;
    background-color: #f8f9fb;
    width: 283px;
    vertical-align: top;
    margin-top: 100px;
    text-align: center;
    margin-left: 20px;
}

#midcontact h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}

#midcontact p{
    font-family: 'Open-Sans', sans-serif;
    font-size: 12pt;
}



#rightcontact{
    display: inline-block;
    background-color: #f8f9fb;
    width: 283px;
    vertical-align: top;
    margin-top: 100px;
    text-align: center;
    margin-left: 20px;
}

#rightcontact h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}


#rightcontact p{
    font-family: 'Open-Sans', sans-serif;
    font-size: 12pt;
}

#rightcontact a{
    text-decoration: none;
}

#rightcontact a:hover{
    color: #bfd4e9
    
}

.navi{
    margin-top: 7%;
}
